##########
# CONFIG #
##########
PROJ_ROOT=/var/www # full path with no trailing slash, please -- this is a place we can safely write files
WEB_DIR=htdocs # relative from PROJ_ROOT with no trailing slash, please
WEB_GROUP=www-data
WEB_USER=www-data

CMS_USER=admin
CMS_PASS=
CRM_VER=4.5.5 # the version of CiviCRM to download and install
CRM_SITE_URL=

CMS_MYSQL_USER=
CMS_MYSQL_PASS=
CMS_MYSQL_HOST=localhost
CMS_MYSQL_DB=

CRM_MYSQL_USER=${CMS_MYSQL_USER}
CRM_MYSQL_PASS=${CMS_MYSQL_PASS}
CRM_MYSQL_HOST=${CMS_MYSQL_HOST}
CRM_MYSQL_DB=

###########
# /CONFIG #
###########
