<?php

/**
 * This is an example config file, used by migrate_civicrm_files.php and migrate_civicrm_db.php.
 * In order to use these scripts, copy this file to migrate_civicrm_config.php and edit the
 * values below.
 */

require_once('/usr/local/lib/civicrm-buildkit/build/drupal-clean/sites/default/civicrm.settings.php');

define('DB_DUMP', '/path/to/dumps/sql.crm');
define('DATABASE', '');
define('DRUPAL_WEBROOT', $civibuild['WEB_ROOT']); // this default only works if you're using buildkit :-)
define('WEBUSER', 'www-data');
define('WP_WEBROOT', '/var/www/localhost/htdocs');

if (strpos(DB_DUMP, '.gz') > 0) {
  define('CAT', 'zcat');
} else {
  define('CAT', 'cat');
}

$extension_archs = array();