##########
# CONFIG #
##########
PROJ_NAME=ushccdrupal # needs to match project name in the server script
PROJ_ROOT=/var/www/${PROJ_NAME}.localhost # full path with no trailing slash, please
WEB_DIR=htdocs # relative from PROJ_ROOT with no trailing slash, please
WEB_GROUP=www-data
WEB_USER=www-data

MAIN_PROJ_NAME=membership
CMS_USER=ginkgo
CMS_PASS=""
CMS_MYSQL_USER=membership
CMS_MYSQL_PASS=""
CMS_MYSQL_HOST=localhost
CMS_MYSQL_DB=membership_drupal

TERMINAL_GROUP=www-data
TERMINAL_USER=www-data

CMS=DRUPAL # please specify DRUPAL or WP
CMS_DB=${MAIN_PROJ_NAME}_drupal
CRM_DB=${MAIN_PROJ_NAME}_civi
###########
# /CONFIG #
###########
